@import url("vars.css");

.selecao{
  background-color: var(--secundary);
  height: 25rem;
  width: 10rem;
  display: flex;
  float: left;
  text-align: center;
  color: white;
  align-items: center;
  margin-right: 1rem;
}
.selecao:first-child{
  margin-left: 1rem;
}
